#total {
  border: 1px solid #000;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
}

#expense {
  border: 1px solid #000;

  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}

#income {
  border: 1px solid #000;

  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}
