#total {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
}

#expense {
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}

#income {
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}

.space {
  padding: 20px;
}
