#total {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
}

.space {
  padding-bottom: 20px;
}

.incomeRow {
  padding: 20px;
}

.expenseRow {
  padding: 20px;
}

ul {
  padding: 0px;
}

#income {
  padding: 20px;
}

#expense {
  padding: 20px;
}
